.footer{
    display: flex;
    background-color: rgb(109, 102, 102);
    opacity: 30%;
    width:100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.footer p{
    font-size: small;
}

@media screen and (max-width:780px){
    .footer p{
        font-size: 12px;
    }
}