@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.divisaoSection{
   width: 100%;
   height: 40px;
}

hr{
   background-color: #eddbcd;
   width: 75%;
   height: 1px;
   margin-bottom: 3%;
   
}

.bntWhatsFixo{
   height: 80px;
   position: fixed;
   bottom: 25px;
   right: 25px;
   z-index: 2;
}

/*Home*/
.imgHome{
   transition: all 1s;
   animation-name: animacaoApareceDireita;
   animation-duration: 1s;
   margin-top: 80px;
   width: 100%;
}

.sectionHome{
   display: flex;
   display: -webkit-box-flex;      /* OLD - iOS 6-, Safari 3.1-6 */
   display: -moz-box-flex;         /* OLD - Firefox 19- (buggy but mostly works) */
   display: -ms-flexbox;      /* TWEENER - IE 10 */
   display: -webkit-flex; 
   justify-content: center;
   align-items: center;
   padding: 3%; 
}

.sectionHome div h1 {
   animation-name: animacaoBolada;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   margin: 1%;
   width: 100%;
   font-family:'Poppins', cursive;
   color: #c06014;
   font-size: 60px;
   
}


.sectionHome div p {
   margin: 1%;
   font-family:'Poppins';
   color: #727272;
   font-size: 20px;
   background-color: #eddbcd;
   border-radius: 5px;
}
.imgSectionHome{
   margin-left: 5%;
}

.sectionHome div{
   transition: all 1s;
   animation-name: animacaoApareceEsquerda;
   animation-duration: 1s;
}

/*Quem somos*/
.sectionQuemSomos{
   transition: 4s;
   font-family:'Poppins';
   color: #727272;
   font-size: 30px;
   background-color: #f1eff8;
   width: 100%;
   display: flex;
   display: -webkit-box-flex;      /* OLD - iOS 6-, Safari 3.1-6 */
   display: -moz-box-flex;         /* OLD - Firefox 19- (buggy but mostly works) */
   display: -ms-flexbox;      /* TWEENER - IE 10 */
   display: -webkit-flex; 
   flex-direction: column;
   justify-content: center;
}

.titleQuemSomos{
   display: flex;
   display: -webkit-box-flex;      /* OLD - iOS 6-, Safari 3.1-6 */
   display: -moz-box-flex;         /* OLD - Firefox 19- (buggy but mostly works) */
   display: -ms-flexbox;      /* TWEENER - IE 10 */
   display: -webkit-flex; 
   flex-direction: row;
}

.textQuemSomos{
   display: flex;
   display: -webkit-box-flex;      /* OLD - iOS 6-, Safari 3.1-6 */
   display: -moz-box-flex;         /* OLD - Firefox 19- (buggy but mostly works) */
   display: -ms-flexbox;      /* TWEENER - IE 10 */
   display: -webkit-flex; 
   flex-direction: column;
   justify-content:center;
   align-items: center;
   width: 100%;   
}

.textQuemSomos h1{
   font-family:'Poppins', cursive;
   color: #c06014;
   font-size: 60px;
   margin-bottom: 0%;
}

.textQuemSomos img{
   width: 40%;
   margin-bottom: 2%;
}

.imgQuemSomos{
   width: 50%;
   padding: 10px;
}

.composicaoQuemSomos h1{
   font-size: 40px;
   color: transparent;
   text-shadow: 0.5px 0px 0px #c06014, 
                 0px 0px 0px #c06014, 
                 0px 0.5px 0px #c06014, 
                 0px 0px 0px #c06014;
}

.composicaoQuemSomos p{
   background-color: #e8e5f3;
   border-radius: 5px;
   font-size: 18px;
   margin: 1%;
}

.missaoVisaoValores{
   background-color: #fff;
   width: 100%;
   display: flex;
   display: -webkit-box-flex;      /* OLD - iOS 6-, Safari 3.1-6 */
   display: -moz-box-flex;         /* OLD - Firefox 19- (buggy but mostly works) */
   display: -ms-flexbox;      /* TWEENER - IE 10 */
   display: -webkit-flex; 
   justify-content: space-between;
}

.missaoVisaoValores div{
   width:100%;
   background-color: #fff;
}

.missaoVisaoValores div h1{
   text-shadow: 0.5px 0px 0px #c06014, 
                 0px 0px 0px #c06014, 
                 0px 0.5px 0px #c06014, 
                 0px 0px 0px #c06014;
}

.missaoVisaoValores div p{
   margin: 1%;
}

.missaoVisaoValores img{
   width: 40%;
}

/*Contato*/
.sectionContato{
   background-color: #c06014;
   color: #eddbcd;
   font-family:'Poppins', cursive, bold;   
   display: flex;
   display: -webkit-box-flex;      /* OLD - iOS 6-, Safari 3.1-6 */
   display: -moz-box-flex;         /* OLD - Firefox 19- (buggy but mostly works) */
   display: -ms-flexbox;      /* TWEENER - IE 10 */
   display: -webkit-flex; 
   flex-direction: column;
   width: 100%;
   margin-top: 5%;
}

.sectionContato h1{
   font-size: 30px;
}

.sectionContato p{
   font-size: 22px;
}

.redesSociais{
   position: relative;
   display: block;
   width: 100%;
   height: 130px;  
}

.whats{
   display: block;
   position: absolute;
   top: 2%;
   left: 45%;
   width: 8%;
}

.face{
   display: block;
   position: absolute;
   top: 2%;
   left: 15%;
   width: 8%;
}

.insta{
   display: block;
   position: absolute;
   top: 2%;
   right: 15%;
   width: 8%;
}

.redesSociais div img:hover{
   cursor: pointer;
}

.contatoFooter{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #fff;
   width: 100%; 
}

.contato{
   display: flex;
   width: 100%;
}

.contato div{
   margin: 5%;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.contato div img{
   height: 54px;
}

.contato div p{
   color:#727272;
}

.logoContato{
   margin:5%;
   width: 20%;
}

.logoContato img{
   width: 100%;
}

/*@media*/
@media screen and (max-width:780px){
   .bntWhatsFixo{
      height: 60px;
      right: 15px;
   }

  /*Home*/
   .sectionHome{
      display: flex;
      display: -webkit-box-flex;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box-flex;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex; 
      flex-direction: column;
   }

   .sectionHome div h1 {
     animation-name: animacaoBolada;
     animation-duration: 1s;
     animation-iteration-count: infinite;
     width: 100%;
     margin: 1%;
     font-size: 40px;
     line-height: 1.6;
  }

   .sectionHome div p {
     margin: 1%;
     font-size: 18px;
  }

  .sectionHome div{
     width: 100%;
     margin: 2%;
  }

  /*Quem Somos*/
  .titleQuemSomos{
      display: flex;
      display: -webkit-box-flex;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box-flex;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex; 
     flex-direction: column;
  }

  .titleQuemSomos h1{
   font-size: 40px;
   }    
   .imgQuemSomos{
      width: 100%;
      padding: 0;
   }

   .missaoVisaoValores{
     flex-direction: column;
   }

   .composicaoQuemSomos h1{
      font-size: 30px;
   }

   /*Contato*/
   .sectionContato h1{
      font-size: 20px;
      margin-top: 5%;
   }

   .sectionContato p{
      font-size: 18px;
      margin-bottom: 5%;
   }

   .whats{
      display: block;
      position: absolute;
      top: 15%;
      left: 40%;
      width: 15%;
   }
   
   .face{
      display: block;
      position: absolute;
      top: 15%;
      left: 5%;
      width: 15%;
   }
   
   .insta{
      display: block;
      position: absolute;
      top: 15%;
      right: 5%;
      width: 15%;
   }

   .contatoFooter{
      width: 100%;
      flex-direction: column;
   }

   .contato{
      flex-direction: column;
   }

   .contato div{
      margin: 4% 0% 0% 0% ;
      display: flex;
      flex-direction: column;
      width: 100%;
   }
   
   .contato div img{
      height: 40px;
   }

   .logoContato{
      margin: 0%;
      width: 100%;
      align-items: center;
   }

   .logoContato img{
      width: 32%;
   }
}

/*Animações*/
@keyframes animacaoBolada {
   0%   { 
      text-shadow: 5px 5px 5px #0c0c0c;
   }
   25%  { text-shadow: 5px 5px 5px #9ea07a;}
   50%  { text-shadow: 5px 5px 5px #292525; }
   75%  { text-shadow: 5px 5px 5px #9ea07a;}
   100% { 
      text-shadow: 5px 5px 5px #5a5555;
   }
}

@keyframes animacaoApareceEsquerda {
   0%   { 
      margin-left: -500%;
   }
   100% { 
      margin-left: 0%;
   }
}

@keyframes animacaoApareceDireita {
   0%   { 
      margin-right: -500%;
   }
   100% { 
      margin-left: 0%;
   }
}

.animacaoDireita{
   animation-name: animacaoApareceDireita;
   animation-duration: 1s;
}

.animacaoEsquerda{
   animation-name: animacaoApareceEsquerda;
   animation-duration: 0.1s;
}

[data-anime]{
   opacity: 0%;
   transition: 3s;
}

[data-anime="left"]{
   transform: translate3d(-100px,0,0);
}

[data-anime="right"]{
   transform: translate3d(100px,0,0);
}

[data-anime="top"]{
   transform: translate3d(0,100px,0);
}

[data-anime].animate {
   opacity: 100%;
   transform: translate3d(0px,0px,0px);
}