@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


/*Home*/

.imgHome{
   margin-top: 80px;
   width: 100%;
}

.sectionHome{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 3%; 
}

.sectionHome div h1 {
   animation-name: animacaoBolada;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   margin: 1%;
   width: 100%;
   font-family:'Poppins', cursive;
   color: #c06014;
   font-size: 60px;
   
}

@keyframes animacaoBolada {
   0%   { 
      text-shadow: 5px 5px 5px #0c0c0c;
   }
   25%  { text-shadow: 5px 5px 5px #9ea07a;}
   50%  { text-shadow: 5px 5px 5px #292525; }
   75%  { text-shadow: 5px 5px 5px #9ea07a;}
   100% { 
      text-shadow: 5px 5px 5px #5a5555;
   }
}

.sectionHome div p {
   margin: 1%;
   font-family:'Poppins';
   color: #727272;
   font-size: 20px;
   background-color: #eddbcd;
   border-radius: 5px;
}

.sectionHome div button{
   display: none;
   transition: 1s;
   font-family:'Poppins';
   font-size: 28px;
   color:#0a1a34;
   border-radius: 15px;
}

.sectionHome div button:hover{
   transition: 1s;
   cursor: pointer;
   color: #0a1a34;  
}

.imgSectionHome{
   margin-left: 5%;
}


/*Quem somos*/

.sectionQuemSomos{
   font-family:'Poppins';
   color: #727272;
   font-size: 30px;
   background-color: #f1eff8;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.titleQuemSomos{
   display: flex;
   flex-direction: row;
}

.textQuemSomos{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;   
}

.textQuemSomos h1{
   font-family:'Poppins', cursive;
   color: #c06014;
   font-size: 60px;
}

.imgQuemSomos{
   width: 50%;
   padding: 10px;
}

.composicaoQuemSomos h1{
   font-size: 40px;
   color: transparent;
   text-shadow: 0.5px 0px 0px #c06014, 
                 0px 0px 0px #c06014, 
                 0px 0.5px 0px #c06014, 
                 0px 0px 0px #c06014;
}

.composicaoQuemSomos p{
   background-color: #e8e5f3;
   border-radius: 5px;
   font-size: 18px;
   margin: 1%;
}

/*@media*/

@media screen and (max-width:600px){
  /*Home*/

   .sectionHome{
      display: flex;
      flex-direction: column;
   }

   .sectionHome div h1 {
     animation-name: animacaoBolada;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     width: 100%;
     margin: 1%;
     font-size: 40px;
     line-height: 1.6;
  }

   .sectionHome div p {
     margin: 1%;
     font-size: 18px;
  }

  .sectionHome div{
     width: 100%;
     margin: 2%;
  }

  /*Quem Somos*/

  .titleQuemSomos{
     display: flex;
     flex-direction: column;
  }

  .titleQuemSomos h1{
   font-size: 40px;
   }    
   .imgQuemSomos{
      width: 100%;
      padding: 0;
   }

   .composicaoQuemSomos h1{
      font-size: 30px;
   }

}
